html {
    /* Colors */
    --primary-color: #46AE15;
    --primary-color-dark: #1c5800;
    --btn-color: #2f9400;
    --footer-color: #1e1e1e;
    --tag-1: #00b80f;
    --tag-1-bg: #56ff6449;
    --tag-2: #0075b8;
    --tag-2-bg: #56a5ff49;
    --tag-3: #b80099;
    --tag-3-bg: #ff56ff49;
    --tag-4: #b89600;
    --tag-4-bg: #ffe05649;
    --tag-5: #00b86b;
    --tag-5-bg: #3dffae49;
    --icon-bg: #eef3f9;
    --btn-blue: #2d70ff;
    --btn-red: #ff2d2d;
    --btn-yellow: #ff7800;

    scroll-behavior: smooth;
}

/* Breadcrumbs */
.page-breadcrumb li a,
.page-breadcrumb li,
.page-breadcrumb li::after {
    color: white;
}

/* Main Slider */
.main-slider .tp-bgimg {
    filter: brightness(0.5);
}
.main-slider .tp-caption .text {
    line-height: 1.2em;
    font-size: 1.1em;
}
.main-slider li .tp-parallax-wrap:first-child {
    top: 100px !important;
}
@media (max-width: 800px) {
    .main-slider .tp-caption .text {
        font-size: 13px;
    }
    .main-slider h2 {
        font-size: 36px;
    }
}
@media (min-width: 801px) and (max-width: 1000px) {
    .main-slider h2 {
        font-size: 60px;
    }
}

/* Mobile Side Menu */
.mobile-menu .menu-outer {
    display: flex;
    flex-direction: column;
}
.mobile-menu-bottom-text {
    margin-top: auto;
    margin-bottom: 20px;
}
.mobile-menu-bottom-text__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 25px;
    font-size: 14px;
    line-height: 20px;
}
.mobile-menu-bottom-text__item i {
    width: 30px;
}

/* Fun Facts */
.fun-fact-section::before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #00000075;
    z-index: -1;
}
.fun-fact-section .quot-column p,
.fun-fact-section .quot-column a,
.fun-fact-section .text-column .text {
    color: white;
}
.fun-fact-section .quot-column .author::before {
    background: #ffffff88;
}

/* Services */
@media (max-width: 599px) {
    .services__flex .inner-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 30px 10vw;
    }
}
.services__flex {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    margin: 0 -10px;
}
.services-section-two .service-block-two {
    flex: 1;
    box-shadow: 2px 4px 10px #00000022;
    padding: 40px 20px !important;
    border-radius: 10px;
    margin: 0 10px;
    max-width: 350px;
}
@media (max-width: 1200px) {
    .services__flex {
        flex-direction: column;
        align-items: center;
        justify-content: unset;
    }
    .services-section-two .service-block-two {
        width: 90%;
        max-width: 500px;
    }
    .services-section-two .service-block-two {
        margin-bottom: 100px;
    }
    .services-section-two .service-block-two .text {
        margin-left: 15%;
        margin-right: 15%;
    }
}
@media (max-width: 500px) {
    .services-section-two .service-block-two .text {
        margin-left: 7%;
        margin-right: 7%;
    }
}
.services-section-two .service-block-two .block__icon {
    margin-bottom: 30px;
    color: var(--primary-color);
    background: var(--icon-bg);
    font-size: 30px;
    border-radius: 10px;
    padding: 10px;
}
.services-section-two .service-block-two .block__icon img {
    height: 30px;
}
.services-section-two .service-block-two:nth-child(1) .block__icon {
    color: var(--btn-blue);
}
.services-section-two .service-block-two:nth-child(2) .block__icon {
    color: var(--btn-red);
}
.services-section-two .service-block-two:nth-child(3) .block__icon {
    color: var(--btn-yellow);
}
.services-section-two .sec-title {
    margin-bottom: 100px;
}
.services-section-two .service-block-two .inner-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    height: 100%;
}
.services-section-two .service-block-two .inner-box .theme-btn {
    margin-top: auto;
}
.services-section-two .service-block-two h3 {
    margin-bottom: 20px;
}
.services-section-two .service-block-two .text {
    margin-bottom: 30px;
}

/* Case Study */
.case-study-section,
.e-services {
    padding: 60px 50px;
}
.case-study-carousel .owl-nav,
.e-services-carousel .owl-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.case-study-carousel .owl-nav .owl-prev,
.case-study-carousel .owl-nav .owl-next,
.e-services-carousel .owl-nav .owl-prev,
.e-services-carousel .owl-nav .owl-next {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    height: 40px;
    width: 40px;
    color: #333333;
    background: #fafafa;
    padding: 8px;
    border-radius: 50%;
    box-shadow: 2px 2px 10px #00000022;
}
.case-study-carousel .owl-nav .owl-prev,
.e-services-carousel .owl-nav .owl-prev {
    margin-left: -50px;
}
.case-study-carousel .owl-nav .owl-next,
.e-services-carousel .owl-nav .owl-next {
    margin-right: -50px;
}

/* Logos */
.sponsors-carousel img {
    height: 30px !important;
}
@media (max-width: 799px) {
    .sponsors-carousel img {
        padding: 3px 0;
    }
}
@media (max-width: 599px) {
    .sponsors-carousel img {
        padding: 5px 0;
    }
}

/* Road Map */
.process-section .process-block .icon-box .icon {
    background: transparent;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

/* Consultation Form */
.consultation-form-btn-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#consultation-form-btn:hover {
    background: var(--primary-color-dark);
}
#consultation-form-btn:disabled,
#submitBtn:disabled {
    background-color: #5e8057 !important;
    border-color: #5e8057 !important;
    cursor: not-allowed !important;
}
#consultation-form-btn:disabled:hover {
    color: white !important;
}
.form-style-one .input-group select {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    padding-left: 67px !important;
    text-indent: 0 !important;
}

/* Subscription Form */
#subscriptionFormBtn:disabled {
    cursor: not-allowed !important;
}

/* Footer */
@media (max-width: 800px) {
    footer .call-us .service-num a {
        font-size: 15px !important;
    }
}

footer.main-footer .logo {
    top: 0 !important;
}
footer.main-footer .logo img {
    height: unset;
    width: 100%;
    max-width: 200px;
}

/* Copyright */
.copyright-text {
    text-align: center;
}

/* ------------------------ */
/* ------------------------ */
/* --------GENERAL--------- */
/* ------------------------ */
/* ------------------------ */

.project-tag {
    padding: 5px 10px;
    font-weight: bold;
    font-size: 13px;
    border-radius: 4px;
    color: var(--tag-1);
    background: var(--tag-1-bg);
}
.project-tag--gaming {
    color: var(--tag-1);
    background: var(--tag-1-bg);
}
.project-tag--nft {
    color: var(--tag-2);
    background: var(--tag-2-bg);
}
.project-tag--blockchain {
    color: var(--tag-3);
    background: var(--tag-3-bg);
}
.project-tag--marketing {
    color: var(--tag-4);
    background: var(--tag-4-bg);
}
.project-tag--listings {
    color: var(--tag-5);
    background: var(--tag-5-bg);
}

.project-block{
	position: relative;
	margin-bottom: 30px;
}

.project-block .inner-box{
	position: relative;
	-webkit-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.07);
    box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.07);
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.project-block .inner-box:hover{
	-webkit-transform: translateY(-15px);
	-moz-transform: translateY(-15px);
	-ms-transform: translateY(-15px);
	-o-transform: translateY(-15px);
	transform: translateY(-15px);
}

.project-block .image-box{
	position: relative;
}

.project-block .image-box .image{
	position: relative;
	margin-bottom: 0;
}

.project-block .image-box .image img{
	position: relative;
	display: block;
	width: 100%;
    height: 300px;
    object-fit: contain;
    object-position: center;
    padding: 30px;
}

.project-block .image-box .date{
	position: absolute;
	left: 0;
	bottom: 0;
    text-align: center;
    padding: 12px 30px 0px;
    font-size: 15px;
    color: #000000;
    background: #ffffff;
    border-radius: 0 10px 0 0;
}

.project-block .image-box .date i{
	color: var(--primary-color);
	font-size: 18px;
	margin-right: 10px;
}

.project-socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.project-socials > * {
    margin-left: 10px;
}
.project-socials a {
    color: var(--primary-color) !important;
}

.project-block .read-more{
	position: absolute;
	color: #ffffff;
	background: var(--primary-color);
    top: -30px;
    opacity: 0;
    right: 30px;
    font-size: 16px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    font-size: 14px;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.25);
}

.project-block .inner-box:hover .read-more{
	opacity: 1;
	top: -40px;
}

.project-block .lower-content{
	position: relative;
	background: #ffffff;
	padding: 30px 30px 20px;
}

.project-block .lower-content h4{
	position: relative;
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    color: #000000;
    word-break: break-word;
}

.project-block .lower-content h4 a{
	display: inline-block;
	color: #000000;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

.project-block .lower-content .text{
	color: #4c4c4d;
	margin-top: 18px;
}

.project-block .lower-content .project-info{
    position: relative;
    font-size: 16px;
    line-height: initial;
    margin-top: 30px;
    padding-top: 21px;
    border-top: 1px solid #e5e5e5;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
    margin-bottom: -10px;
}

.project-block .project-client{
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.project-block .project-client img{
	height: 30px;
	width: 30px;
	border-radius: 50%;
	margin-right: 10px;
}

.project-block .project-option{
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.project-block .project-option .project-tags{
    position: relative;
    display: flex;
    align-items: center;
	margin-left: 40px;
}

.project-block .project-option .project-tags li{
	margin-right: 15px;
}

.project-block .project-option .project-tags li:last-child{
	margin-right: 0;
}

.project-block .project-option .project-tags li a{
	display: inline-block;
	color: var(--primary-color);
	transition: all 300ms ease;
}

.project-block .project-option .project-tags li a:hover{
	color: #000000;
}

.project-block .read-more-btn{
	background: var(--primary-color);
	font-size: 14px;
	min-height: 40px;
	padding: 0 23px;
	margin-top: 20px;
}

.hover-stop .project-block .inner-box:hover{
	transform: none;
}

.blog-large-image .project-block{
	margin-bottom: 35px;
}

.blog-small-images .project-block.style-two-even .image-box .date{
	border-radius: 7px 0 7px 0;
}

.blog-small-images .project-block{
	padding: 0 15px;
}

.blog-small-images .project-block .inner-box{
	border-radius: 7px;
}

/* ABOUT */
.get-started .sec-title h3 {
    color: white;
}
.get-started .sec-title .text {
    color: #f1f1f1;
}

.btn-blue,
.btn-red,
.btn-yellow {
    cursor: pointer;
}
.btn-blue {
    background: var(--btn-blue);
    color: white;
}
.btn-red {
    background: var(--btn-red);
    color: white;
}
.btn-yellow {
    background: var(--btn-yellow);
    color: white;
}
.btn-primary {
    background: var(--primary-color);
    color: white;
}
.btn-blue:hover {
    background: var(--btn-blue);
    color: white;
}
.btn-red:hover {
    background: var(--btn-red);
    color: white;
}
.btn-yellow:hover {
    background: var(--btn-yellow);
    color: white;
}
.btn-primary:hover {
    background: var(--primary-color-dark);
    color: white;
}

.gamepad {
    height: 20px;
    margin-right: 10px;
    transition: all 0.5s ease;
}
.btn-red:hover .gamepad {
    filter: invert(1);
}

.small-note {
    font-size: 12px;
    color: #cacaca;
    font-style: italic;
}

.info-outer .contact-info-block .name {
    margin-bottom: 4px;
}
.info-outer .contact-info-block .role {
    color: var(--primary-color);
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 0.9em;
}

.primary-color {
    color: var(--primary-color) !important;
}
.bold {
    font-weight: bold;
}

.e-services .post-author {
    font-size: 0.9em;
}

.anchor-no-style {
    text-decoration: none;
    color: unset;
}
.anchor-no-style:hover {
    color: unset;
}

.fact-counter .counter-column .inner-column {
    height: 100%;
}

.fun-fact-section .quote-style-one p {
    font-size: 15px;
    line-height: 24px;
}

.case-study-section .owl-stage {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.case-study-section .owl-stage .slide-item,
.case-study-section .owl-stage .case-block,
.case-study-section .owl-stage .inner-box {
    height: 100%;
}
.case-study-section .owl-stage .case-block {
    margin-bottom: 0;
    padding-bottom: 30px;
}
.case-study-section .owl-stage .case-block .inner-box {
    display: flex;
    flex-direction: column;
}
.case-study-section .owl-stage .case-block .lower-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.case-study-section .owl-stage .case-block .lower-content .btn-box {
    margin-top: auto;
    padding-top: 30px;
}

.post-controls .post,
.post-controls .post:hover {
    padding: 0 60px !important;
}

.case-block .image-box .icon_img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 1024px) {
    .fact-counter .counter-column {
        margin-top: -150px;
    }
}

/* READ MORE */
.read-more-expandable__btn {
    font-style: italic;
    text-decoration: underline;
    margin-left: 10px;
    cursor: pointer;
}

.feature-block-four .icon {
    color: white;
}

.case-block .image-box .image img {
    height: 210px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.feature-block .content-column {
    background-size: cover;
}

.team-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.team-row > div {
    margin: 0 50px;
}
@media (max-width: 800px) {
    .team-row {
        flex-direction: column;
    }
    .team-row > div {
        margin: 30px 0px;
    }
}

.consultation-section {
    margin-bottom: 100px;
}

.e-services-carousel .owl-stage {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.e-services-carousel .slide-item,
.e-services-carousel .news-block,
.e-services-carousel .inner-box {
    height: 100%;
}
.e-services-carousel .inner-box {
    display: flex;
    flex-direction: column;
}
.e-services-carousel .inner-box .lower-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.e-services-carousel .inner-box .lower-content .text {
    flex: 1;
}

.mega-menu-part {
    margin: 0 10px;
    margin-bottom: 30px;
}
.main-menu .navigation > li .mega-menu-bar .column ul > li > a {
    transition: all 0.3s ease;
}
.main-menu .navigation > li .mega-menu-bar .column ul > li > a:hover {
    color: var(--primary-color);
}

.client-portal-button {
    text-decoration: none;
    border: 0;
    padding: 16px 28px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    background: var(--primary-color);
    border-radius: 25px;
    box-shadow: #38712a4d 12px 12px 20px 0px;
    cursor: pointer;
}
.client-portal-button:hover {
    color: white;
}
.client-portal-mobile-wrapper {
    position: absolute;
    top: 50%;
    bottom: 0;
    right: 60px;
    transform: translateY(-50%);
}
.client-portal-mobile-wrapper .client-portal-button {
    display: table-cell;
    padding: 7px 14px;
    font-size: 14px;
}
@media (max-width: 420px) {
    .client-portal-mobile-wrapper {
        display: none;
    }
}
.client-portal-button--side-menu {
    text-align: center;
    margin: 20px 40px;
}

.page-wrapper--full {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.page-wrapper--full main {
    flex: 1;
}
.coming-soon-section {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.page-wrapper--dark-header .main-header {
    background: #1a1a1a;
}
@media (max-width: 600px) {
    .coming-soon-section {
        min-height: 50vh;
    }
}